@model SportsBall.Models.Division

<html>
<head>
    <title>Division - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this division: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())

    {
        @Html.HiddenFor(model => model.DivisionId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Skill)
        @Html.EditorFor(model => model.Skill)

        @Html.LabelFor(model => model.Max)
        @Html.EditorFor(model => model.Max)


        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>