@model SportsBall.Models.Team

<html>
<head>
    <title>Team - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new Team</h4> 
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)


        @Html.LabelFor(model => model.Players)
        @Html.TextBoxFor(model => model.Players)
 

        @Html.LabelFor(model => model.Captain)
        @Html.TextBoxFor(model => model.Captain)

        @Html.LabelFor(model => model.DivisionId)
        @Html.DropDownList("DivisionId")
        <input type="submit" value="Add new Team" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>